body {
	background-color: white;
	font-family: "Open Sans", helvetica, sans-serif;
}

ul {
	margin: 0;
	padding: 10px;
	
}

li {
	float: left;
	list-style-type: none;
}
#demoCanvas {
	border: black solid 1px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
