body {
	background-color: white;
	font-family: "Open Sans", helvetica, sans-serif;
}

header {
	text-align: center;
	font-size: 50px;
	padding-top: 40px;
	position: relative;
}

ul {
	margin: 0;
	padding: 20px;
	font-size: 18;
}

li {
	float: left;
	/*display: inline;*/
	list-style-type: none;
	padding: 20px;
	position: center;
}

#navbar {
	margin: 0 auto;
}

#demoCanvas {
	border: white solid 1px;
	display: inline-block;
}

.canvas {
	text-align: center;
	background-color: #3366CC
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
